<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>자유 게시판</title>
  <link rel="stylesheet" th:href="@{/freeboard/css/style.css}"/>
</head>
<body>
<h1>자유 게시판</h1>
<table>
  <thead>
  <tr>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>
  <!-- 자유 게시판 글 목록 -->
  <tbody>
  <tr th:each="post : ${posts}">
    <td>
      <a th:href="@{/fashionlog/freeboard/{id}(id=${post.id})}" th:text="${post.title}"></a>
    </td>
    <td></td>
    <td th:text="${post.createdAt}"></td>
  </tr>
  </tbody>
</table>
<a th:href="@{/fashionlog/freeboard/new}">새 글 작성</a>
</body>
</html>