<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
  <div class="logo-container">
    <a th:href="@{/fashionlog}" class="logo">
      <img th:src="@{/img/hynss-logo.png}" alt="Logo" class="logo-image">
    </a>
  </div>
  <nav>
    <ul>
      <li>
        <div sec:authorize="hasRole('ADMIN')">
          <a th:href="@{/fashionlog/management}">관리자 페이지</a>
        </div>
      </li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li sec:authorize="isAuthenticated()">
        <span th:text="${#authentication.principal.nickname} + ' 님'">UserNickname</span>
      </li>
      <li>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout" class="nav-btn logout">
        </form>
      </li>
      <li>
        <form th:action="@{/fashionlog/withdrawal}" method="post">
          <input type="submit" value="회원 탈퇴" class="nav-btn withdrawal">
        </form>
      </li>
    </ul>
  </nav>
</header>
</html>