<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Fashion Log 홈</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="main-content">
  <a th:href="@{/fashionlog/notice}" id="notice"><span>Notice</span></a>
  <a th:href="@{/fashionlog/freeboard}" id="freetalk"><span>Free Talk</span></a>
  <a th:href="@{/fashionlog/lookbook}" id="lookbook"><span>LookBook</span></a>
  <a th:href="@{/fashionlog/trade}" id="buysell"><span>Buy Sell Trade</span></a>
  <a th:href="@{/fashionlog/interviewboard}" id="interview"><span>Interview</span></a>
  <a th:href="@{/fashionlog/dailylook}" id="dailylook"><span>DailyLook</span></a>
</div>
</body>
</html>