<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Fashion Log 홈</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<header>
  <div class="logo-container">
    <a th:href="@{/fashionlog}" class="logo">
      <img src="#" alt="Logo" class="logo-image">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li>
        <button class="login">UserName</button>
      </li>
      <li>
        <button class="signup">탈퇴</button>
      </li>
    </ul>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout">
    </form>
  </nav>
</header>
<div class="main-content">
  <a th:href="@{/fashionlog/notice}" id="notice"><span>Notice</span></a>
  <a th:href="@{/fashionlog/freeboard}" id="freetalk"><span>Free Talk</span></a>
  <a th:href="@{/fashionlog/lookbook}" id="lookbook"><span>LookBook</span></a>
  <a th:href="@{/fashionlog/trade}" id="buysell"><span>Buy Sell Trade</span></a>
  <a th:href="@{/fashionlog/interviewboard}" id="interview"><span>Interview</span></a>
  <a th:href="@{/fashionlog/dailylook}" id="dailylook"><span>DailyLook</span></a>
</div>
</body>
</html>