<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Management</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/management.css}">
</head>
<div th:replace="~{header :: header}"></div>

<body>
<div class="container">
  <h1>회원 정보</h1>
  <ul class="member-list">
    <li th:each="member : ${members}" class="member-item">
      <div class="member-info">
        <span th:text="${'ID: ' + member.memberId}"></span>
        <span th:text="${'이름: ' + member.name}"></span>
        <span th:text="${'닉네임: ' + member.nickname}"></span>
        <span th:text="${'전화번호: ' + member.phone}"></span>
        <span th:text="${'이메일: ' + member.email}"></span>
        <span th:text="${'권한: ' + member.role}"></span>
        <span th:text="${'생성일: ' + member.createdAt}"></span>
        <span th:with="updatedAt=${member.updatedAt != null ? member.updatedAt : ''}"
              th:text="${'수정일: ' + updatedAt}"></span>
        <span th:with="deletedAt=${member.deletedAt != null ? member.deletedAt : ''}"
              th:text="${'삭제일: ' + deletedAt}"></span>
      </div>
      <div class="action-buttons">
        <form th:action="@{/fashionlog/management/{id}/ADMIN(id=${member.memberId})}" th:method="post">
          <button type="submit" class="action-button admin-button">ADMIN</button>
        </form>
        <form th:action="@{/fashionlog/management/{id}/NORMAL(id=${member.memberId})}" th:method="post">
          <button type="submit" class="action-button normal-button">NORMAL</button>
        </form>
        <form th:action="@{/fashionlog/management/{id}/BANNED(id=${member.memberId})}" th:method="post">
          <button type="submit" class="action-button banned-button">BANNED</button>
        </form>
      </div>
    </li>
  </ul>
</div>
</body>
</html>