<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원 권한 수정</title>
</head>
<body>>
<h1>회원 권한 수정</h1>
<ul>
  <li th:each="member : ${members}">
    <div>
      <span th:text="${member.memberId}">ID</span>
      <span th:text="${member.name}">이름</span>
      <span th:text="${member.nickname}">닉네임</span>
      <span th:text="${member.phone}">전화번호</span>
      <span th:text="${member.email}">이메일</span>
      <span th:text="${member.password}">비밀번호</span>
      <span th:text="${member.status}">삭제 여부</span>
      <span th:text="${member.createdAt}">생성일</span>
      <span th:text="${member.updatedAt}">수정일</span>
      <span th:text="${member.deletedAt}">삭제일</span>
      <div id="container">
        <ul id="menu">
          <li class="menu-item">
            <form th:action="@{/fashionlog/management/{id}/ADMIN(id=${member.memberId})}"
                  th:method="post">
              <button type="submit" class="menu-name">ADMIN</button>
            </form>
          </li>
          <li class="menu-item">
            <form th:action="@{/fashionlog/management/{id}/NORMAL(id=${member.memberId})}"
                  th:method="post">
              <button type="submit" class="menu-name">NORMAL</button>
            </form>
          </li>
          <li class="menu-item">
            <form th:action="@{/fashionlog/management/{id}/BANNED(id=${member.memberId})}"
                  th:method="post">
              <button type="submit" class="menu-name">BANNED</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
</body>
</html>