<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Daily Look Post Detail</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/board/detail.css}">
  <script th:src="@{/js/detail.js}"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
  <h1><a th:href="@{/fashionlog/dailylook}">Daily Look</a></h1>
  <div class="post-content">
    <div>
      <h2 th:text="${dailyLook.title}">Title</h2>
      <span th:text="${dailyLook.authorName}">작성자</span>
      <span class="post-date" th:if="${dailyLook.updatedAt}"
            th:text="${#temporals.format(dailyLook.updatedAt, 'YY.MM.dd')}"></span>
      <span class="post-date" th:unless="${dailyLook.updatedAt}"
            th:text="${#temporals.format(dailyLook.createdAt, 'MM.dd HH:mm:ss')}"></span>
    </div>
    <p><span class="post-content-main" th:text="${dailyLook.content}">Content</span></p>
  </div>
  <div class="action-buttons">
    <a href="/fashionlog/dailylook" class="btn">뒤로</a>
    <a th:if="${#authentication.name == dailyLook.authorEmail or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
       th:href="@{/fashionlog/dailylook/{id}/edit(id=${dailyLook.id})}" class="btn edit-btn">수정</a>
    <form th:action="@{/fashionlog/dailylook/{id}/delete(id=${dailyLook.id})}" method="post"
          style="display: inline;">
      <button
          th:if="${#authentication.name == dailyLook.authorEmail or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
          type="submit" class="btn delete-btn">삭제
      </button>
    </form>
  </div>
  <!-- 댓글 목록 -->
  <div class="comment-section">
    <h3>댓글</h3>
    <ul class="comment-list">
      <li th:each="comment : ${dailyLookComments}" class="comment">
        <div class="comment-content">
          <span th:id="'view-' + ${comment.id}" th:text="${comment.content}">댓글 내용</span>
        </div>
        <div class="comment-info">
          <span th:text="${comment.authorName}" class="comment-author">작성자</span>
          <span class="comment-date" th:if="${comment.updatedAt}"
                th:text="${#temporals.format(comment.updatedAt, 'MM.dd HH:mm:ss')}"></span>
          <span class="comment-date" th:unless="${comment.updatedAt}"
                th:text="${#temporals.format(comment.createdAt, 'MM.dd HH:mm:ss')}"></span>
          <button
              th:if="${#authentication.name == comment.authorEmail or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
              th:id="'edit-button-' + ${comment.id}"
              th:onclick="'toggleEditForm(' + ${comment.id} + ')'" class="btn-edit">수정
          </button>
          <form
              th:action="@{/fashionlog/dailylook/{postid}/delete-comment/{commentid}(postid=${dailyLook.id}, commentid=${comment.id})}"
              method="post" style="display: inline;">
            <button
                th:if="${#authentication.name == comment.authorEmail or #authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                type="submit" class="btn-delete">삭제
            </button>
          </form>
        </div>
        <!-- 수정 모드 -->
        <form th:id="'edit-' + ${comment.id}" style="display: none;"
              th:action="@{/fashionlog/dailylook/{postid}/edit-comment/{commentid}(postid=${dailyLook.id}, commentid=${comment.id})}"
              method="post" class="edit-form">
          <input type="text" name="content" th:value="${comment.content}">
          <button type="submit">저장</button>
        </form>
      </li>
    </ul>
    <!-- 댓글 작성 -->
    <form class="comment-form" th:action="@{/fashionlog/dailylook/{id}/comment(id=${dailyLook.id})}"
          th:object="${dailyLookComment}" method="post">
      <textarea id="content" name="content" th:field="*{content}"
                placeholder="댓글을 입력하세요"></textarea>
      <button type="submit">등록</button>
    </form>
  </div>
</div>
</body>
</html>