<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Interview List</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/board/list.css}">
</head>
<div th:replace="~{header :: header}"></div>

<body>
<div class="container">
  <h1>Interview</h1>

  <hr>

  <table>
    <thead>
    <tr>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice:${interviewNotice}" class="post-item notice-item">
      <td>
        <span class="category" th:text="${notice.category.getDisplayName()}">분류</span>
        <a th:text="${notice.title}" th:href="@{/fashionlog/notice/{id}(id=${notice.id})}">제목</a>
      </td>
      <td th:text="${notice.authorName}">작성자</td>
      <!-- updateAt이 null 이 아니면 updateAt 표시 -->
      <td th:if="${notice.updatedAt != null}" th:text="${notice.updatedAt}">작성일</td>
      <td th:unless="${notice.updatedAt != null}" th:text="${notice.createdAt}">작성일</td>
    </tr>
    <tr th:each="interview:${interviewBoards}" class="post-item board-item">
      <td>
        <a th:text="${interview.title}" th:href="@{/fashionlog/interviewboard/{id}(id=${interview.id})}">제목</a>
      </td>
      <td th:text="${interview.authorName}">작성자</td>
      <!-- updateAt이 null 이 아니면 updateAt 표시 -->
      <td th:if="${interview.updatedAt != null}" th:text="${interview.updatedAt}">작성일</td>
      <td th:unless="${interview.updatedAt != null}" th:text="${interview.createdAt}">작성일</td>
    </tr>
    </tbody>
  </table>
  <div class="actions"></div>
  <a class="btn btn-primary" th:href="@{/fashionlog/interviewboard/new}">새 글 작성</a>
</div>
</body>
</html>